* {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  font-family: "Source Sans 3";
}

header,
main,
footer,
nav,
section,
header,
div {
  display: block;
}

.empty-button {
  border: none;
  background: none;
  cursor: pointer;
  display: contents;
}

.header-container {
  height: 187px;
  width: 100%;
  flex-shrink: 0;
  background: none;
  display: block;
  margin-left: 330px;
}

header > h3 {
  background: none;
  color: #8c8c8d;
  font-family: "Source Sans 3";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 265px;
  height: 26px;
  flex-shrink: 0;
  margin-top: 98px;
  margin-left: 93px;
  position: absolute;
}

#the-main-title {
  background: none;
  width: 265px;
  height: 26px;
  flex-shrink: 0;
  color: #000;
  font-family: "Source Sans 3";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 35px;
  margin-left: 93px;
  position: absolute;
}

.search-container {
  position: absolute;
  top: 70px;
  right: 450px;
}

.search-container > #searchInput {
  border-radius: 30px;
  background: #d9d9d9;
  border-radius: 30px;
  background: #d9d9d9;
  border: none;
  text-align: center;
}

.search-container > input {
  position: absolute;
  width: 158px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
}

#search-icon > button {
  border: none;
  background: none;
  cursor: pointer;
  width: 22.591px;
  height: 22.591px;
  flex-shrink: 0;
  fill: #000;
  position: absolute;
}

.search-icon {
  margin-top: 11px;
  margin-left: 7px;
  font-size: 22px;
  background: none;
  font-size: 23px !important;
}

.container-profile-button {
  text-align: center;
  background: none;
  padding: 0px;
  border-radius: 5px;
}

.profile-button {
  text-decoration: none;
  color: black;
}

.container-profile-button > li {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.profile-button:hover {
  text-decoration: none;
  color: #0d6efd;
}

.search-container > .ring-icon {
  width: 20px;
  height: 23px;
  flex-shrink: 0;
  fill: #000;
  position: absolute;
  margin-top: 10px;
  margin-left: 170px;
  background: none;
}

.dropdown-center {
  position: absolute;
  top: 40px;
  right: 27px;
  background: none;
}

.dropdown-toggle {
  border: none !important;
}

.dropdown-item:hover {
  color: #0d6efd !important;
  cursor: pointer;
}
.dropdown-toggle > img {
  background: none;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  color: #0d6efd !important;
}

.dropdown-toggle:hover::after {
  border-top-color: #0d6efd !important;
}

.dropdown-center > button {
  color: #000;
  font-family: "Source Sans 3";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.main-Breadcrumb {
  position: absolute;
  margin-top: 8px;
  margin-left: 20px;
  color: #000;
  font-family: "Source Sans 3";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 0;
}

.main-Breadcrumb > ol > li > a {
  text-decoration: none;
}

main {
  margin-left: 330px;
}

#my-wardRobes {
  margin-left: 89px;
  margin-top: 147px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.wardrobe-card-empty {
  width: 382px;
  height: 213px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.plus-wardrobe {
  font-size: 115px !important;
  font-weight: bold !important;
  color: #8c8c8d;
  background: none;
}

.wardrobe-card-fully {
  width: 382px;
  height: 213px;
  background: #fff;
  border-radius: 50px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.wardrobe-card > button > .add-item {
  font-size: 28px !important;
  margin-top: 18px;
  margin-left: 20px;
  background: none;
}

.wardrobe-card > button > .delete-item {
  font-size: 28px !important;
  margin-top: 18px;
  background: none;
}

.wardrobe-card > button > .edit-item {
  font-size: 28px !important;
  margin-top: 18px;
  margin-left: 249px;
  background: none;
}

.wardrobe-name {
  background: none;
  color: #000;
  font-family: "Source Sans 3";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 15px;
}

.cards-write {
  color: #000;
  font-family: "Source Sans 3";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  display: inline;
}

.clothes-number {
  margin-left: 20px;
}

.outfits-number {
  margin-left: 120px;
}

.ready-to-wear {
  color: #000;
  font-family: "Source Sans 3";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  text-align: center;
  margin-top: 20px;
}

.ready-to-wear-dont-bold {
  font-weight: normal;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
  background: black;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  transition: all 0.3s;
  width: 330px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  color: #8c8c8d;
  font-family: "Source Sans 3";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#logout_ {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 11px;
  margin-left: 4px;
  background: black;
}
.sidebar a {
  display: block;
  color: #495057;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 0px;
}

.sidebar > a {
  background: none;
  margin-left: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

.dropdown-menu-side {
  display: none;
  border: none;
  background: black;
  margin-left: 60px;
  padding: 0px;
}
.dropdown-menu a {
  margin-bottom: 30px;
  background: none;
}
.nav-link {
  background: none;
}
.nav-item {
  background: none;
}

.sidebar > ul {
  background: none;
}

.sidebar > ul > li {
  background: none;
}

#Mywardrobe_logo {
  margin-right: 10px;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

#Mywardrobe_logoS {
  width: 6px;
  height: 28px;
  flex-shrink: 0;
  margin-right: 19px;
  margin-left: 24px;
}
#BR {
  width: 273px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #444444;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 29px;
  margin-right: 28px;
}
#logo {
  background-image: url(/client/images/logo-no-background3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  width: 255px;
  height: 80px;
  flex-shrink: 0;
  margin-left: 40px;
  margin-top: 10px;
}

.nav-link .dropdown-toggle {
  text-decoration: none;
  color: #495057;
}
.closet_img {
  width: 25px;
  height: 32px;
  margin-right: 7px;
  background: black;
}
.Icons_ {
  flex-shrink: 0;
  fill: #8c8c8d;
  margin-right: 10px;
  margin-left: 52px;
  background: none;
}

#nav_footer {
  margin-top: 15px;
  background: none;
}
#nav_foofter_ul {
  background: black;
}
#nav_footer > ul {
  background: black;
}
.nav-link {
  background-color: black;
  background: black;
}
.nav-link:hover {
  color: #0d6efd;
}
.sidebar > li {
  background: none;
}

#nav_footer ul {
  list-style: none;
}

.navbar-toggler-icon {
  background: none;
}

#form-toAdd-wardrobe {
  background: none;
}

#form-toAdd-wardrobe > label {
  text-align: center;
  background: none;
  font-size: larger;
}

#form-toAdd-wardrobe input {
  margin-top: 5px;
}

.edit-input-container {
  background: none;
  text-align: center;
}

.sortAz-icon {
  position: absolute;
  margin-left: 50px;
  margin-top: 70px;
  font-size: 32px !important;
  background: none;
}

.list-icon {
  position: absolute;
  right: 50px;
  margin-top: 70px;
  font-size: 32px !important;
  background: none;
}

#wardRobe {
  margin-left: 89px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}
#looks {
  margin-left: 89px;
  margin-top: 50px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}
.items-looks-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 225px;
  background: none;
}
.items-looks-buttons > button {
  border-radius: 40px;
  background: #fff;
  width: 150px;
  height: 60px;
  display: block;
  margin-top: 45px;
  z-index: 1;
}

.items-looks-buttons > button > span {
  color: #000;
  font-family: "Source Sans 3";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
}

#types-of-items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 20px;
  margin-top: 15px;
}

.plus-item-type {
  font-size: 35px !important;
  margin-top: 5px;
}

.items-type {
  border-radius: 40px;
  background: #fff;
  width: 76px;
  height: 43px;
  display: inline-block;
}

.items-type > span {
  color: #000;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
}

.wardRobe-icons-action {
  margin-top: 5px;
}

.list-icon-wardrobe {
  position: absolute;
  right: 50px;
  font-size: 32px !important;
  background: none;
}

.sortStaus-icon-wardrobe {
  position: absolute;
  margin-left: 20px;
  font-size: 32px !important;
  background: none;
}

.filter-icon-wardrobe {
  position: absolute;
  margin-left: 60px;
  font-size: 32px !important;
  background: none;
}

.removeSelction-icon-wardrobe {
  position: absolute;
  margin-left: 100px;
  font-size: 32px !important;
  background: none;
}

.delete-icon-wardrobe {
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 32px !important;
  background: none;
}

#wardRobe {
  margin-left: 89px;
  margin-top: 50px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card-empty {
  width: 216px;
  height: 248px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.item-card-empty-looks {
  width: 233px;
  height: 337px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.item-card-fully {
  width: 216px;
  height: 248px;
  background: #fff;
  border-radius: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.item-card-fully-looks {
  width: 233px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  height: auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.item-card-fully-looks > ul {
  list-style: none;
  background: none;
}

.item-card-fully-looks > ul > li {
  background: none;
}

.item-card-fully-looks > ul > li > img {
  background: none;
  width: 75%;
  margin-top: -30px;
}

.item-card-fully-looks > ul > li:first-child > img {
  background: none;
  width: 75%;
  margin-top: 20px;
}

.item-card-fully > img {
  margin-top: 25px;
  margin-left: 20px;
  background: none;
}

.elipse-item {
  width: 18px;
  height: 18px;
  background: aquamarine;
  border-radius: 100%;
  margin-top: 215px;
  margin-left: 15px;
  position: absolute;
}

.edit-item-wardrobe {
  font-size: 28px !important;
  margin-top: 15px;
  margin-left: 175px;
  background: none;
  position: absolute;
}

.edit-look-wardrobe {
  font-size: 28px !important;
  background: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

.elipse-item-looks {
  width: 18px;
  height: 18px;
  background: aquamarine;
  border-radius: 100%;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 50%;
  max-width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.progress {
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s;
}
.table-responsive {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  fill: #fff;
  width: 70%;
  margin: 0 auto;
}

.table {
  text-align: center !important;
  color: #000;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.plus-item-button {
  margin-bottom: 20px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.plus-wardrobe-table {
  font-size: 50px !important;
  font-weight: bold !important;
  color: #8c8c8d;
  background: none;
}

.select-arrow {
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23000"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px 10px;
  padding-right: 30px;
}

#userName {
  background: none;
}

.color-menu {
  position: absolute;
  top: 50px; 
  left: 30px;
  background-color: #edecec;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 40px;
}

.color-menu.hidden {
  display: none;
}

.color-menu button {
  display: block;
  background: none;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#color-menu h4 {
background: none;
}



@media (max-width: 800px) {
  .dropdown-toggle > img {
    display: none;
  }
  .header-container > h1,
  .header-container > h3 {
    display: none;
  }
}

@media (max-width: 500px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.show {
    transform: translateX(0);
    z-index: 3;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }

  .items-looks-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    background: none;
  }
  .items-looks-buttons > button {
    border-radius: 40px;
    background: #fff;
    width: 100px;
    height: 40px;
    display: block;
    margin-top: 45px;
    z-index: 1;
  }

  .items-looks-buttons > button > span {
    color: #000;
    font-family: "Source Sans 3";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
  }

  .header-container {
    width: 100%;
    display: flex;
  }

  .header-container > h1,
  .header-container > h3 {
    display: none;
  }

  .the-main-buttons {
    z-index: -1;
  }

  .search-container {
    display: inline;
    position: absolute;
    left: 30px;
  }

  .dropdown-toggle {
    margin-top: 33px;
  }
  .dropdown-toggle > img {
    display: none;
  }

  #my-wardRobes {
    margin-left: 5px;
    margin-top: 147px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
  }
}
